<div id="addEmailAccountPage">
    <h2>Add Email Account</h2>
    <form id="EmailAccountForm" method="POST" action="{{ url_for('email_account_add') }}">
        {{ email_form.hidden_tag() }}
        <div class="form-group">
            {{ email_form.email_address.label(class="form-label", for=email_form.email_address.id) }} {{ email_form.email_address(class="form-control", id=email_form.email_address.id, autocomplete="username") }}
        </div>
        <div class="form-group">
            {{ email_form.password.label(class="form-label", for=email_form.password.id) }} {{ email_form.password(class="form-control", id=email_form.password.id, type="password", autocomplete="new-password") }}
        </div>
        <div class="form-group">
            {{ email_form.email_type.label(class="form-label", for="emailTypeSelect") }}
            <select id="emailTypeSelect" name="email_type" class="form-control" onchange="updateImapSettings()">
                <option value="GMAIL">GMAIL</option>
                <option value="APPLE">APPLE</option>
            </select>
        </div>
        <!-- Hidden fields for IMAP settings -->
        <input type="hidden" id="imapServer" name="imap_server" value="imap.gmail.com">
        <input type="hidden" id="imapPort" name="imap_port" value="993">
        <input type="hidden" id="imapUseSsl" name="imap_use_ssl" value="y">
        <div class="form-group d-flex justify-content-between mt-3">
            <button type="button" class="btn btn-warning" id="testNewEmailAccountButton">Test Connection</button>
            <div>
                <button type="submit" id="submitAddAccountButton" class="btn btn-primary">Add Account</button>
                <button type="button" id="cancelAddAccountButton" class="btn btn-secondary">Cancel</button>
            </div>
        </div>
    </form>
</div>